
<div class="card">
    <img class="card-img-top" src="../../assets/images.jpeg" alt="Book Image">
    <div class="card-body">
      <h5 class="card-title">{{ book.name }}</h5>
      <p class="card-text"><strong>Author:</strong> {{ book.author }}</p>
      <p class="card-text">{{ book.description }}</p>
      <p class="card-text"><strong>Quantity:</strong> {{ book.quantity }}</p>
      <p class="card-text"><strong>Price:</strong> ${{ book.price }}</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  