 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-... (long hash) ..." crossorigin="anonymous" referrerpolicy="no-referrer" />

 <nav class="navbar sticky-top navbar-expand-lg bg-info">
      <div class="container">
        <!-- <a class="navbar-brand" href="#">Logo</a> -->
        <h2>BookShelf</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <i class="fas fa-bars"></i>
    </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
                <li class="nav-item">
                  <a class="nav-link" href="#">Services</a>
                  <li class="nav-item" style="right: 0;">
                    <a class="nav-link" href="#">
                        <i class="fa-regular fa-cart-shopping"></i>
                        <i class="fa fa-shopping-cart" style="font-size: 30px;"></i>
                      </a>
                      
                    <!-- <i class="fa fa-shopping-cart" style="font-size:36px"></i> -->
                  </li>
          </ul>
        </div>
      </div>
    </nav>
