@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
* {
  font-family: "Titillium Web", sans-serif;
}
/* body {
  height: 500px;
} */
.navbar .navbar-brand {
  font-size: 30px;
}
.navbar .nav-item {
  padding: 5px 10px;
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
}
.fa-bars {
  /* color: #007bff; */
  font-size: 20px;
}
